/*instrucciones generales*/
#navbar{
    border-bottom: 1px solid rgba(102, 207, 275, 0.95);
    width: 95%;
    margin: 2%;
}

#navbar button{
    float: right;
    position: relative;
    left: 10px;
}

/* div formulario de fechas*/
#form {
    padding: 2%;
}

/*botones formulario*/
button{
    border: 1px solid rgba(102, 207, 275, 0.85);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}

button:hover{
    box-shadow: inset 1px 1px rgba(102, 207, 275, 0.85);
}

input[type="text"]{
    border: 1px solid rgba(102, 207, 275, 0.85);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}

input[type="text"]:hover{
    cursor: not-allowed;
}

select{
    border: 1px solid rgba(102, 207, 275, 0.85);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}

select:hover{
    cursor:pointer;
}

/*div calendario*/
#calendar {
    margin-top: 2%;
    position: relative;
    right: 15%;
    max-width: 400px;
    padding: 1%;
    background-color: rgba(72, 177, 245, 0.15);
    border: 1px solid rgba(72, 177, 245, 0.95);
    text-align: center;
    border-radius: 3%;
}

/* elementos tabla calendario*/
#idTable {
    text-align: center;
    width: 70%;
}

#idTable tr {
    height: 30px;
}

#idTable td {
    margin: 50px 3px 50px 20px;
}

/*calendario*/
#days {
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
}

#days th, #days td {
    text-align: center;
    width: 35px;
    height: 25px;
}

#days th {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(102, 207, 275, 0.85);
}

#days td {
    color: rgba(0, 0, 0, 1);
}
#days td:hover {
    box-shadow: inset 1px 1px  1px 1px rgba(0, 0, 0, 0.63);
    cursor: pointer;
}

/*header calendario*/
#previous {
    float: left;
    cursor: pointer;
}

#next {
    float: right;
    cursor: pointer;
    color: darkcyan;
}

/* titulos*/
#titles {
    font-size: 20px;
}

/* tamanño imagenes */
img{
    width: 20px;
    height: 20px;
}

/* hover flechas*/
img.arrow:hover {
    width: 25px;
    height: 25px;
}

/*boton cerrar*/
#hiddenCalendar {
    height: 20px;
    text-align: left;
    margin-bottom: 1%;
}


/* hover cerrar*/
#close:hover{
    cursor: pointer;
    width: 22px;
    height: 22px;
}
